<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HotelManagememtSystem.Properties.Settings.HotelManagementSystemConnectionString"
            connectionString="Data Source=LAPTOP-MCN7P17D\SQLEXPRESS;Initial Catalog=HotelManagementSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>